In [1]:
import pandas as pd

In [5]:
df1=pd.read_excel('Faulty Motor Data_1.xlsx')
df1

           Time       Date  Temp  Current  Output
0      17:56:08 2023-05-08  28.2     1.64       0
1      17:56:08 2023-05-08  28.2     1.63       0
2      17:56:09 2023-05-08  28.1     1.60       0
3      17:56:09 2023-05-08  28.1     1.62       0
4      17:56:10 2023-05-08  28.1     1.63       0
...         ...        ...   ...      ...     ...
10105  19:43:53 2023-05-08  62.2     6.50       0
10106  19:43:54 2023-05-08  62.2     6.45       0
10107  19:43:54 2023-05-08  62.2     6.47       0
10108  19:43:55 2023-05-08  62.2     6.48       0
10109  19:43:56 2023-05-08  62.2     6.46       0

[10110 rows x 5 columns]

In [7]:
df2=pd.read_excel('Healthy Motor DATA_1.xlsx')
df2

           Time       Date  Temp  Current  Output
0      15:42:58 2023-05-08  28.2     1.61       1
1      15:42:58 2023-05-08  28.2     1.63       1
2      15:42:59 2023-05-08  28.1     1.60       1
3      15:42:59 2023-05-08  28.1     1.62       1
4      15:43:00 2023-05-08  28.1     1.63       1
...         ...        ...   ...      ...     ...
10105  17:30:43 2023-05-08  41.7     1.60       1
10106  17:30:44 2023-05-08  41.7     1.55       1
10107  17:30:44 2023-05-08  41.7     1.57       1
10108  17:30:45 2023-05-08  41.7     1.58       1
10109  17:30:46 2023-05-08  41.7     1.56       1

[10110 rows x 5 columns]

In [8]:
df=pd.concat([df1,df2],ignore_index=True)
df

           Time       Date  Temp  Current  Output
0      17:56:08 2023-05-08  28.2     1.64       0
1      17:56:08 2023-05-08  28.2     1.63       0
2      17:56:09 2023-05-08  28.1     1.60       0
3      17:56:09 2023-05-08  28.1     1.62       0
4      17:56:10 2023-05-08  28.1     1.63       0
...         ...        ...   ...      ...     ...
20215  17:30:43 2023-05-08  41.7     1.60       1
20216  17:30:44 2023-05-08  41.7     1.55       1
20217  17:30:44 2023-05-08  41.7     1.57       1
20218  17:30:45 2023-05-08  41.7     1.58       1
20219  17:30:46 2023-05-08  41.7     1.56       1

[20220 rows x 5 columns]

In [9]:
X=df[['Temp','Current']]
Y=df['Output']

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [12]:
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [13]:
classifier=DecisionTreeClassifier()

In [14]:
classifier.fit(X_train,y_train)

DecisionTreeClassifier()

In [15]:
predictions=classifier.predict(X_test)
predictions

array([1, 0, 1, ..., 0, 1, 0], dtype=int64)

In [16]:
accuracy=accuracy_score(y_test,predictions)
accuracy

0.9987636003956478

In [19]:
input_data=[[41.7,1.57]]

cal_acc=classifier.predict(input_data)
cal_acc

C:\Users\ahsan\anaconda3\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)